---
layout: default
permalink: /companies/
---

{% capture companies %}
  {% for company in site.data.companies %}
    {{ company[0] }}
  {% endfor %}
{% endcapture %}


{% assign sortedcompanies = companies | split:' ' | sort %}

<div class="home">

  <h1 class="page-heading">Companies</h1>

  <ul>
    {% for key in sortedcompanies %}
    {% assign company = site.data.companies[key] %}
    <li>
      <a href="{{ '.html' | prepend: key | prepend: '/companies/' | prepend: site.baseurl }}">
        {{ company.name }}
      </a>
    </li>
    {% endfor %}
  </ul>

</div>
