---
layout: default
permalink: /people/
---

{% capture people %}
  {% for person in site.data.people %}
    {{ person[0] }}
  {% endfor %}
{% endcapture %}

{% assign sortedpeople = people | split:' ' | sort %}

<div class="home">

  <h1 class="page-heading">People</h1>

  <ul>
    {% for key in sortedpeople %}
    {% assign person = site.data.people[key] %}
      <li>
        <a href="{{ '.html' | prepend: key | prepend: '/people/' | prepend: site.baseurl }}">
          {{ person.fullname }}
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
