---
layout: default
---

{% assign year = site.time | date: '%Y' %}
{% assign person = site.data.people[page.id] %}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  <p>Age: <strong>{{ year | minus: person.born }}</strong></p>
  <div class="post-content">
    {{ content }}
  </div>

  <div>
    Employer:
    <ul>
      {% for companyid in page.tags %}
        {% assign company = site.data.companies[companyid] %}
        <li><a href="{{ site.baseurl }}/companies/{{ companyid }}.html">{{ company.name }}</a></li>
      {% endfor %}

    </ul>
  </div>

</article>
